@import "../css/functions";
//@import "../css/stars";

$face-number: 6;
$side-width: 100vw;
$side-height: 100vh;
$spacing: ($side-width * pow(3, 1/2)) / 2;
$gap: 0px;
$angle: 360 / $face-number;
//$spacing: ($side-width / 2) / tan($angle / 20);

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    overflow-x: hidden;
}

.background {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #020107 0%, #201b46 100%);
}

.scene {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    perspective: 1000px;
    position: relative;
    //z-index: 100;
}

.polygon {
    width: $side-width;
    height: $side-height;
    transform-style: preserve-3d;
    transform: translateZ(-$spacing) rotateY(0deg);
    transition: transform 1s;
    overflow: visible;
}

.face {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - #{$gap});
    height: calc(100% - #{$gap});
    position: relative;
    backface-visibility: inherit;
    font-size: 60px;
    color: #fff;
    //opacity: 0.75;
    position: absolute;
    left: $gap;
    top: $gap;

    &:nth-child(1) {
        background: red;
        transform: translateZ($spacing);
    }

    &:nth-child(2) {
        background: green;
        transform: rotateY(60deg) translateZ($spacing);
        height: 200vh;
    }

    &:nth-child(3) {
        background: orange;
        transform: rotateY(120deg) translateZ($spacing);
    }

    &:nth-child(4) {
        background: blue;
        transform: rotateY(180deg) translateZ($spacing);
    }

    &:nth-child(5) {
        background: purple;
        transform: rotateY(240deg) translateZ($spacing);
    }

    &:nth-child(6) {
        background: yellow;
        transform: rotateY(300deg) translateZ($spacing);
    }
}


.animate {
    animation: spinning 3s infinite linear;
}

@keyframes spinning {
    0% {
     transform: translateZ(-$spacing) rotateY(0deg);
    }

    25% {
        transform: translateZ(-$spacing*1.5) rotateY(0deg);
    }

    75% {
        transform: translateZ(-$spacing*1.5) rotateY(60deg);
    }

    100% {
        transform: translateZ(-$spacing) rotateY(60deg);
    }
}

.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    padding: 8px;
    text-transform: uppercase;
}

.prev-button {
    left: 8px;
}

.next-button {
    right: 8px;
}