html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
}

.background {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#020107), to(#201b46));
  background: linear-gradient(to bottom, #020107 0%, #201b46 100%);
}

.scene {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  position: relative;
}

.polygon {
  width: 100vw;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-86.60254vw) rotateY(0deg);
          transform: translateZ(-86.60254vw) rotateY(0deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  overflow: visible;
}

.face {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  position: relative;
  -webkit-backface-visibility: inherit;
          backface-visibility: inherit;
  font-size: 60px;
  color: #fff;
  position: absolute;
  left: 0px;
  top: 0px;
}

.face:nth-child(1) {
  background: red;
  -webkit-transform: translateZ(86.60254vw);
          transform: translateZ(86.60254vw);
}

.face:nth-child(2) {
  background: green;
  -webkit-transform: rotateY(60deg) translateZ(86.60254vw);
          transform: rotateY(60deg) translateZ(86.60254vw);
  height: 200vh;
}

.face:nth-child(3) {
  background: orange;
  -webkit-transform: rotateY(120deg) translateZ(86.60254vw);
          transform: rotateY(120deg) translateZ(86.60254vw);
}

.face:nth-child(4) {
  background: blue;
  -webkit-transform: rotateY(180deg) translateZ(86.60254vw);
          transform: rotateY(180deg) translateZ(86.60254vw);
}

.face:nth-child(5) {
  background: purple;
  -webkit-transform: rotateY(240deg) translateZ(86.60254vw);
          transform: rotateY(240deg) translateZ(86.60254vw);
}

.face:nth-child(6) {
  background: yellow;
  -webkit-transform: rotateY(300deg) translateZ(86.60254vw);
          transform: rotateY(300deg) translateZ(86.60254vw);
}

.animate {
  -webkit-animation: spinning 3s infinite linear;
          animation: spinning 3s infinite linear;
}

@-webkit-keyframes spinning {
  0% {
    -webkit-transform: translateZ(-86.60254vw) rotateY(0deg);
            transform: translateZ(-86.60254vw) rotateY(0deg);
  }
  25% {
    -webkit-transform: translateZ(-129.90381vw) rotateY(0deg);
            transform: translateZ(-129.90381vw) rotateY(0deg);
  }
  75% {
    -webkit-transform: translateZ(-129.90381vw) rotateY(60deg);
            transform: translateZ(-129.90381vw) rotateY(60deg);
  }
  100% {
    -webkit-transform: translateZ(-86.60254vw) rotateY(60deg);
            transform: translateZ(-86.60254vw) rotateY(60deg);
  }
}

@keyframes spinning {
  0% {
    -webkit-transform: translateZ(-86.60254vw) rotateY(0deg);
            transform: translateZ(-86.60254vw) rotateY(0deg);
  }
  25% {
    -webkit-transform: translateZ(-129.90381vw) rotateY(0deg);
            transform: translateZ(-129.90381vw) rotateY(0deg);
  }
  75% {
    -webkit-transform: translateZ(-129.90381vw) rotateY(60deg);
            transform: translateZ(-129.90381vw) rotateY(60deg);
  }
  100% {
    -webkit-transform: translateZ(-86.60254vw) rotateY(60deg);
            transform: translateZ(-86.60254vw) rotateY(60deg);
  }
}

.prev-button, .next-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 0;
  padding: 8px;
  text-transform: uppercase;
}

.prev-button {
  left: 8px;
}

.next-button {
  right: 8px;
}
/*# sourceMappingURL=app.css.map */